﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>
<body>




    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    <div class="container">


        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Performans Değerlendirme Sistemi</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li> @Html.ActionLink("Ana Sayfa", "Index", "Home", new { @class = "active" })</li>
                        <li><a href="#">İletişim</a></li>
                    </ul>

                    @Html.Partial("LoginPartial")

                    @*<li>@Html.ActionLink("TR", "Change", "Language")</li>
                        <li>@Html.ActionLink("EN", "Change", "Language", new { languageSelect = "en" })</li>*@

                </div>
            </div>
        </nav>

    </div>
    <div class="jumbotron" style="background:#CCFFFF">
    </div>

    <div class="col-lg-1">
    </div>
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
            <a class="list-group-item active">Menü</a>

            @Html.ActionLink(@Resources.Home.CalisanDuzenle,"CalisanDuzenle", "Home", new { @class = "list-group-item" })
            @Html.ActionLink(@Resources.Home.CalisanSil, "CalisanSil", "Home", new { @class = "list-group-item" })
            @Html.ActionLink(/*ProjeDeneme1.DIL.genel.IsEkle,*/ "İş Ekle", "IsEkle", "Home", new { @class = "list-group-item" })
            @Html.ActionLink("İş Güncelle", "IsGuncelle", "Home", new { @class = "list-group-item" })
            <a href="#" class="list-group-item">Puan Ekle</a>
            <a href="#" class="list-group-item">Açıklama Ekle</a>
            <a href="#" class="list-group-item">Tarih Sorgulama</a>

        </div>
    </div>
  

    @RenderBody()



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>
