﻿
@model IEnumerable<ProjeDeneme1.Models.CalisanViewModel>
@{
    //ViewBag.Title = "CalisanDuzenle";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}



<html>
<head>

</head>
<body>

    <div class="col-lg-7">
        <table class="table table-striped">
            <tr>
                <td class="danger">Çalışan Ad</td>
                <td class="warning">Çalışan Soyad</td>
                <td class="success">Ünvan</td>
                <td class="active">Çalışan Sil</td>

            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.CalisanBilgileri.CalisanAd</td>
                    <td>@item.CalisanBilgileri.CalisanSoyad</td>
                    <td>@item.CalisanUnvan.CalisanUnvan1</td>
                    <td>@Html.ActionLink("Sil", "Sil", "Main", new { id = item.CalisanBilgileri.CalisanID })</td>
                </tr>
            }


        </table>
    </div>


</body>
</html>
