﻿@model IEnumerable<ProjeDeneme1.Models.CalisanBilgileri>
@{
    //ViewBag.Title = "Duzenle";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2>Duzenle</h2>

<body>
    <div class="col-lg-1">
    </div>

    <div class="col-lg-3">
        <div class="table-bordered">

            <div class="jumbotron" style="background:#FFFFFF">

                <input type="text" class="form-control" placeholder="Çalışan Adı">
                <br />
                <input type="text" class="form-control" placeholder="Çalışan Soyadı">
                <br />
                <input type="text" class="form-control" placeholder="Çalışan Ünvan" />
                <div class="col-lg-3">
                </div>
                <div class="col-lg-1">

                    <button type="button" class="btn btn-info"> Düzenle </button>
                </div>

            </div>
        </div>

    </div>

</body>


@*<form class="navbar-form navbar-right">*@