﻿
@{
    ViewBag.Title = "Iguncelle";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="col-lg-1">
</div>

<div class="col-lg-3">
    <div class="table-bordered">

        <div class="jumbotron" style="background:#FFFFFF">

            @Html.Label("Çalışan Ad :")
            <input type="text" class="form-control" placeholder="Çalışan Adı">
            <br />

            @Html.Label("Çalışan Soyad :")
            <input type="text" class="form-control" placeholder="Çalışan Soyadı">
            <br />
            @Html.Label("Çalışan Ünvan :")
            <input type="text" class="form-control" placeholder="Çalışan Ünvan" />
            <br />
            @Html.Label("İş Numarası :")
            <input type="text" class="form-control" placeholder="İş Numarası" />
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4">

                <button type="button" class="btn btn-info"> Güncelle </button>
            </div>

        </div>
    </div>

</div>


