﻿@model IEnumerable<ProjeDeneme1.Models.CalisanViewModel>
@{
    ViewBag.Title = "IsGuncelle";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}


<div class="col-lg-7">
    <table class="table table-striped">
        <tr>
            <td class="danger">Çalışan Ad</td>
            <td class="warning">Çalışan Soyad</td>
            <td class="success">Ünvan</td>
            <td class="active">İş Numarası</td>
            <td class="warning">İş Güncelle</td>

        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.CalisanBilgileri.CalisanAd</td>
                <td>@item.CalisanBilgileri.CalisanSoyad</td>
                <td>@item.CalisanUnvan.CalisanUnvan1</td>
                <td>@item.performansPuan.IsID</td>
                <td>@Html.ActionLink("İş Güncelle", "Iguncelle","Main", new { id = item.CalisanBilgileri.CalisanID })</td>
            </tr>
        }

    </table>
</div>

