﻿@model IEnumerable<ProjeDeneme1.Models.CalisanBilgileri>
@{
    //ViewBag.Title = "Sil";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="col-lg-1">
</div>

<div class="col-lg-3">
    <div class="table-bordered">

        <div class="jumbotron" style="background:#FFFFFF">

            <input type="text" class="form-control" placeholder="Çalışan Adı">
            <br />
            <input type="text" class="form-control" placeholder="Çalışan Soyadı">
            <br />
            <input type="text" class="form-control" placeholder="Çalışan Ünvan" />
            <div class="col-lg-3">
            </div>
            <div class="col-lg-1">

                <button type="button" class="btn btn-info"> Sil </button>
            </div>

        </div>
    </div>

</div>

