﻿@model IEnumerable<ProjeDeneme1.Models.CalisanViewModel>

@{
    //ViewBag.Title = "AdminEkrani";
    Layout = "~/Areas/Calisan/Views/Shared/Layout.cshtml";
}



<html>
<head>
   
</head>
<body>

    <div class="col-lg-7">
        <table class="table table-striped">
            <tr>
                <td class="danger">Çalışan Ad</td>
                <td class="warning">Çalışan Soyad</td>
                <td class="success">Ünvan</td>
                <td class="active">İş Numarası</td>
                <td class="danger">Puan</td>
                <td class="warning">Açıklama</td>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CalisanBilgileri.CalisanAd</td>
                    <td>@item.CalisanBilgileri.CalisanSoyad</td>
                    <td>@item.CalisanUnvan.CalisanUnvan1</td>
                    <td>@item.performansPuan.IsID</td>
                    <td>@item.performansPuan.CalisanPuan</td>
                    <td>@item.PerformansAciklama.Aciklama</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
