﻿

@model IEnumerable<ProjeDeneme1.Models.performansPuan>
@{
    ViewBag.Title = "Is";
    Layout = "~/Areas/Calisan/Views/Shared/Layout.cshtml";
}





<html>
<head>

</head>
<body>

    <div class="col-lg-2">
    </div>
    <div class="col-lg-2">
        <table class="table table-striped">
            <tr>
                <td class="danger">İş</td>
                <td class="alert">Puan</td>
            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.IsID</td>
                    <td>@item.CalisanPuan</td>
                </tr>
            }


        </table>
    </div>


</body>
</html>
