﻿@model List< Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

<ul>

    @foreach(var item in Model)
    {
        <li>
            @item.Name - @item.Users.Count
        </li>
    }
</ul>
@Html.ActionLink("Yeni rol ekle","RolEkle")