﻿@model ProjeDeneme1.Models.RolEkleModel
@{
    ViewBag.Title = "RolEkle";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2>RolEkle</h2>

@using (Html.BeginForm("RolEkle","RolYonetim",FormMethod.Post))
{
    @Html.TextBoxFor(m=>m.RolAd)
    <input type="submit"/>
}